.u-section-1 .u-sheet-1 {
  min-height: 1201px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 486px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 342px;
  height: 214px;
  margin: 28px auto 0 50px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -249px 308px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 45px 126px 0 494px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px 264px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 267px;
  height: 267px;
  margin: -34px auto 0 58px;
}

.u-section-1 .u-text-5 {
  margin: -173px 109px 0 451px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 161px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 26px;
    margin-left: 394px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 9px;
    margin-left: 351px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 198px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 156px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -248px;
    margin-right: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 96px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 53px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 48px;
  }
}